# Swift
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj
*.xcworkspace

# Logs
*.log
xppen_events.log

# macOS
.DS_Store

# User Config (Optional: hide if you want to keep your personal shortcuts private)
# config.json
